body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


table,
table th {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}

td {
    height: 50px;
    width: 180px;
    text-align: center;
    vertical-align: middle;
    padding: 2;
    border: 1;
    border-collapse: collapse;
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("pic.jpg");

    height: 100%;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;
}